/*
.exercice::before {
    content: "Exercice " counter(exocounter) "\0000a0\0000a0";
}
*/

.exercice {
    counter-reset: questioncounter;
    counter-increment: exocounter;
}

/*
.exercice::first-line {
    background-color: rgb(254, 218, 172);
    border-bottom: #00a5d4;
}
*/

.exercice-titre {
    display: inline-block;
    font-weight: 700;
    font-size: 1.3rem;
    padding: 1em;
    margin-bottom: 1rem;
}

.exercice-titre::before {
    content: "Exercice " counter(exocounter) "\0000a0\0000a0";
}

.exercice-enonce {
    padding: 1em;
    margin-bottom: 1rem;
    border: #BCC7E1 1px solid;
    border-radius: 15px;
    font-style: oblique;
}

.exercice-question {
    counter-increment: questioncounter;
    border: 2px solid red;
    padding: 10px;
    border-radius: 25px;
    background: rgba(255, 179, 189, 0.3);
    margin: 1rem auto;
}

.exercice-question-titre::after {
    content: "Question " counter(exocounter) "." counter(questioncounter) "\0000a0\0000a0";
}

.exercice-question-titre {
    font-size: 1.3rem;
    color: red;
    font-weight: 400;
    margin-bottom: 1rem;
}

.exercice-content-titre {
    background-color: rgba(0, 189, 243, 0.14);
    border-bottom: #00a5d4;
}


.accordeon {
    font-size: 1.2rem;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


.code > .accordeon button {
    background-color: #BCC7E1;
}

.code .panel {
    padding: 1em;
    display: none;
    overflow: hidden;
    margin-bottom: 1rem;
    border-bottom-style: solid;
    border-top-style: solid;
}

.aide {
    margin: 0px;
    padding-left: 50px;
    background-image: url('../images/ampoule.png');
    background-repeat: no-repeat;
    background-size: 50px;
    min-height: 80px;
}

.danger {
    margin: 0px;
    padding-left: 50px;
    background-image: url('../images/danger.png');
    background-repeat: no-repeat;
    background-size: 50px;
    min-height: 80px;
}

.annonce {
    margin: 5px;
    border: #a40000 2px solid;
    font-size: 1.2rem;
    padding-left: 60px;
    background-image: url('../images/megaphone.svg');
    background-repeat: no-repeat;
    background-size: 50px;
    min-height: 80px;
    margin-bottom: 20px;
}

.important {
    margin: 0px;
    padding-left: 50px;
    background-image: url('../images/exclamation.svg');
    background-repeat: no-repeat;
    background-size: 50px;
    min-height: 80px;
}
